<header class="main-header">
  <div class="main-header-container">
    <div class="main-logo">
      <a routerLink="/main" class="main-logo-text">Спорт — это мы</a>
    </div>

    <nav class="main-nav">
      <a class="main-nav-link" routerLink="/universities" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}">Вузы</a>
      <a class="main-nav-link" routerLink="/team" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Коллектив</a>
      <a class="main-nav-link" routerLink="/competitions" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}">Соревнования</a>
      <a class="main-nav-link" routerLink="/sports-facilities" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}">Спортивные объекты</a>
      <a class="main-nav-link" routerLink="/statistics" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}">Статистика</a>
      <a class="main-nav-link" routerLink="/achievements" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}">Достижения</a>
      <!--      <a class="main-nav-link" routerLink="/favorite" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Избранное</a>-->
    </nav>

    <div class="main-header-actions">

      <button class="main-btn-profile hover-white-icon" (click)="onProfile()">
        <img ngSrc="assets/images/icons/account%20(1).svg" alt="Атлеты" height="25" width="25" class="meta-icon">
        <span>Профиль</span>
      </button>
    </div>
  </div>
</header>
