<app-header></app-header>

@if (showEditForm) {
  <div class="admin-modal-overlay">
    <div class="admin-modal-content">
      <app-dynamic-form
        [fields]="editFields"
        [initialData]="editData"
        [formTitle]="isOwnProfile ? 'Редактирование профиля' : 'Редактирование пользователя: ' + user.fullName"
        (formSubmit)="onEditSubmit($event)"
        (cancel)="showEditForm = false">
      </app-dynamic-form>
    </div>
  </div>
}

@if (showPasswordForm) {
  <div class="admin-modal-overlay">
    <div class="admin-modal-content">
      <app-dynamic-form
        [fields]="passwordFields"
        [formTitle]="'Смена пароля'"
        (formSubmit)="onPasswordSubmit($event)"
        (cancel)="showPasswordForm = false">
      </app-dynamic-form>
    </div>
  </div>
}

@if (showRankForm) {
  <div class="admin-modal-overlay">
    <div class="admin-modal-content">
      <app-dynamic-form
        [fields]="rankFields"
        [formTitle]="'Назначение разряда'"
        (formSubmit)="onRankSubmit($event)"
        (cancel)="showRankForm = false">
      </app-dynamic-form>
    </div>
  </div>
}

<main class="profile-content">
  <div class="profile-container">

    <button class="back-btn" (click)="onBack()">
      <img ngSrc="assets/images/icons/left-arrow.svg" alt="Тип" width="20" height="20">
      Назад
    </button>

    @if (isLoading) {
      <div class="loading-state">
        <div class="spinner"></div>
        <p>Загрузка данных...</p>
      </div>
    }

    @if (error) {
      <div class="error-state">
        <p>{{ error }}</p>
        <button class="retry-btn" (click)="loadProfile()">Попробовать снова</button>
      </div>
    }

    @if (!isLoading && !error && user) {
      <div class="profile-card">
        <div class="profile-header">

          <div class="profile-avatar"
               [class.editable]="isOwnProfile"
               (click)="isOwnProfile ? fileInput.click() : null">

            <img [src]="getMemberAvatar(user.avatar)"
                 (error)="handleImageError($event)"
                 [title]="user.fullName"
                 class="profile-avatar-img">

            @if (isOwnProfile) {
              <div class="avatar-overlay">
                <div class="avatar-spinner"></div>
              </div>
            }

            <input type="file" #fileInput hidden accept="image/png, image/jpeg, image/jpg" (change)="onPhotoSelected($event)">
          </div>

          <div class="profile-info">
            <h1 class="profile-name">{{ user.fullName }}</h1>
            <p class="profile-role">{{ getRoleLabel(user.role) }}</p>
            <div class="profile-meta">
              <span class="profile-meta-item">
                  <img ngSrc="assets/images/icons/проведение соревнований.svg" alt="Тип" width="20" height="20" class="meta-icon">
                {{ user.age }} лет
              </span>
              <span class="profile-meta-item">
                <img ngSrc="assets/images/icons/profile.svg" alt="Тип" width="20" height="20" class="meta-icon">
                {{ getGenderLabel(user.gender) }}
              </span>
              <span class="profile-meta-item">
                <img ngSrc="assets/images/icons/message.svg" alt="Тип" width="20" height="20" class="meta-icon">
                {{ user.email }}
              </span>
            </div>
          </div>

          <div class="profile-actions">
            @if (isOwnProfile || isAdmin) {
              <button class="profile-edit-btn hover-white-icon" (click)="openEditForm()">
                <img ngSrc="assets/images/icons/edit.svg" alt="Тип" width="20" height="20" class="meta-icon">
                Редактировать
              </button>
            }

            @if (isOwnProfile) {
              <button class="profile-edit-btn hover-white-icon" (click)="openPasswordForm()">
                <img ngSrc="assets/images/icons/edit.svg" alt="Тип" width="20" height="20" class="meta-icon">
                Сменить пароль
              </button>
            }

            @if (isOwnProfile) {
              <button class="profile-logout-btn hover-red-icon" (click)="onLogout()">
                <img ngSrc="assets/images/icons/exit-svgrepo-com.svg" alt="Выйти" width="18" height="18" class="meta-icon-red">
                Выйти
              </button>
            }

            @if (isAdmin || (user.coachId === currentUserId && user.role === 'Athlete')) {
              <button class="profile-edit-btn hover-white-icon" (click)="openRankForm()">
                <img ngSrc="assets/images/icons/plus.svg" alt="Тип" width="20" height="20" class="meta-icon">
                Назначить разряд
              </button>
            }


            @if (isAdmin) {
              <button class="profile-admin-btn" (click)="onAdminPanel()">
                <img ngSrc="assets/images/icons/admin-svgrepo-com.svg" alt="Тип" width="30" height="30" class="meta-icon-white">
                Админ-панель
              </button>
            }


          </div>

        </div>

        <div class="profile-details">
          <div class="profile-detail-item">
            <div class="profile-detail-icon">
              <img ngSrc="assets/images/icons/student-housing.svg" alt="Тип" width="40" height="40" class="meta-icon">
            </div>
            <div class="profile-detail-content clickable" (click)="onUniversityClick()">
              <span class="profile-detail-label">Место обучения</span>
              <h3 class="profile-detail-value">{{ user.university }}</h3>
              <p class="profile-detail-subtitle">{{ user.faculty }} • {{ user.course }} курс</p>
            </div>
            <div class="profile-detail-arrow">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>

          @if (user.role === 'Athlete') {
            <div class="profile-trainees" style="margin-top: 24px;">
              <h2 class="profile-results-title">Тренер</h2>

              <div class="trainee-item" (click)="onCoachClick()">
                <img [src]="getMemberAvatar(user.coachAvatar)"
                     (error)="handleImageError($event)"
                     [title]="user.coachName || 'Тренер'"
                     class="trainee-avatar">

                <div class="trainee-info">
                  <h3 class="trainee-name">{{ user.coachName || 'Не назначен' }}</h3>
                  <p class="trainee-sport">Тренер</p>
                </div>

                @if (user.coachId) {
                  <div class="trainee-arrow">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                }
              </div>
            </div>
          }

          @if (user.role === 'Coach' && user.trainees && user.trainees.length > 0) {
            <div class="profile-detail-item">
              <div class="profile-detail-icon">
                <img ngSrc="assets/images/icons/profile.svg" alt="Тип" width="30" height="30" class="meta-icon">
              </div>
              <div class="profile-detail-content">
                <span class="profile-detail-label">Подопечные</span>
                <h3 class="profile-detail-value">{{ user.trainees.length }} спортсменов</h3>
              </div>
            </div>
          }

          @if (user.sport && user.sport.length > 0) {
            @for (item of user.sport; track item) {
              <div class="profile-detail-item">
                <div class="profile-detail-icon">
                  <img ngSrc="assets/images/icons/game.svg" alt="Тип" width="30" height="30" class="meta-icon">
                </div>
                <div class="profile-detail-content">
                  <span class="profile-detail-label">Вид спорта</span>
                  <h3 class="profile-detail-value">{{ item.sportName }}</h3>
                  <p class="profile-detail-subtitle">{{ item.rankName }}</p>
                  <p class="profile-detail-subtitle">Дата получения: {{ item.dateReceived }}</p>
                </div>
              </div>
            }
          }
        </div>

        @if (user.records && user.records.length > 0) {
          <div class="profile-results">
            <h2 class="profile-results-title">Лучшие результаты</h2>
            <div class="profile-results-list">
              @for (result of user.records; track result.competitionId) {
                <div class="profile-result-item" (click)="onCompetitionClick(result.competitionId)">
                  <div class="profile-result-discipline">
                    <img ngSrc="assets/images/icons/podium-silhouette-svgrepo-com.svg" alt="Тип" width="30" height="30" class="meta-icon">
                    <div class="profile-result-info">
                      <span class="profile-result-name">{{ result.discipline }}</span>
                      <span class="profile-result-competition">{{ result.competitionName }}</span>
                    </div>
                  </div>
                  <div class="profile-result-value">{{ result.result }}</div>
                  <div class="profile-result-date">{{ result.date }}</div>
                </div>
              }
            </div>
          </div>
        }

        @if (user.role === 'Coach' && user.trainees && user.trainees.length > 0) {
          <div class="profile-trainees">
            <h2 class="profile-results-title">Подопечные</h2>
            <div class="trainees-list">

              @for (trainee of user.trainees; track trainee.id) {
                <div class="trainee-item" (click)="onTraineeClick(trainee.id)">
                  <img [src]="getMemberAvatar(trainee.avatar)"
                       (error)="handleImageError($event)"
                       [title]="trainee.fullName"
                       class="trainee-avatar">
                  <div class="trainee-info">
                    <h3 class="trainee-name">{{ trainee.fullName }}</h3>
                    <p class="trainee-sport">{{ trainee.sport }}</p>
                  </div>
                  <div class="trainee-arrow">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
</main>
