@use '../../../styles.scss' as *;
@use '../header-page-styles.scss' as *;


.facility-card {
  @extend %base-card;
  background: $white;
  border-radius: 16px;
  border: 2px solid $main-border;
  transition: all 0.3s ease;
  @include transition;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.facility-image-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}









.meta-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: $text-secondary;

  svg {
    color: $primary-color;
    flex-shrink: 0;
  }
}


