<app-header></app-header>

<main class="page-content">
  <div class="page-container">

    <aside class="general-sidebar">
      <div class="filter-block">
        <h3 class="filter-title">Фильтры</h3>
        <div class="filter-group">
          <label class="filter-label">Город</label>
          <select class="filter-select" [(ngModel)]="selectedCity" (change)="applyFilters()">
            <option value="">Все города</option>
            @for (city of cities; track city) {
              <option [value]="city">{{ city }}</option>
            }
          </select>
        </div>
        <button class="filter-reset-btn" (click)="resetFilters()">
          Сбросить фильтры
        </button>
      </div>
    </aside>

    <section class="page-list-section">
      <h1 class="page-title">Участвующие вузы</h1>

      @if (isLoading) {
        <app-loader/>
      }

      @if (error) {
        <app-error-state [message]="error" (retry)="loadUniversities()"/>
      }

      @if (!isLoading && !error) {
        <div class="page-grid">
          @for (uni of filteredUniversities; track uni.idUniversity) {
            <div class="university-card">

              <div style="display: flex; justify-content: center; margin-bottom: 12px;">
                <div class="university-icon"></div>
              </div>

              <div class="universal-card-info">
                <h3 class="card-title" [title]="uni.shortName">{{ uni.shortName }}</h3>

                <div class="card-body">
                  <p class="card-meta">
                    <img ngSrc="assets/images/icons/Location.svg" alt="Город" width="16" height="16" class="meta-icon">
                    {{ uni.city }}
                  </p>

                  <p class="card-meta">
                    <img ngSrc="assets/images/icons/account.svg" alt="Атлеты" height="14" width="14" class="meta-icon">
                    {{ uni.athletesCount }} спортсменов
                  </p>

                  <p class="card-meta">
                    <img ngSrc="assets/images/icons/account.svg" alt="Тренеры" height="14" width="14" class="meta-icon">
                    {{ uni.coachesCount }} тренеров
                  </p>

                  <button class="card-btn" (click)="onViewDetails(uni.idUniversity)">
                    Подробнее
                  </button>
                </div>
              </div>
            </div>
          } @empty {
            <div class="no-results">
              <p>По выбранным фильтрам вузы не найдены.</p>
            </div>
          }
        </div>
      }
    </section>

    <app-page-decor/>

  </div>
</main>
